In [2]:
import pandas as pd

In [3]:
cars=pd.read_csv("cars.csv",index_col=0)

In [4]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [5]:
print(cars["country"])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [6]:
print(type(cars["country"]))

<class 'pandas.core.series.Series'>

In [7]:
print(cars[["country"]])

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [8]:
print(type(cars[["country"]]))

<class 'pandas.core.frame.DataFrame'>

In [10]:
print(cars[["country","drives_right"]])

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [12]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [20]:
cars[1:2]

     cars_per_cap    country  drives_right
AUS           731  Australia         False

In [21]:
print(cars[0:3])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [15]:
print(type(cars[0:3]))

<class 'pandas.core.frame.DataFrame'>

In [22]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [24]:
cars.iloc[2]

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [25]:
cars.iloc[2:5]

     cars_per_cap country  drives_right
JAP           588   Japan         False
IN             18   India         False
RU            200  Russia          True

In [27]:
cars.iloc[2:5,0:2]

     cars_per_cap country
JAP           588   Japan
IN             18   India
RU            200  Russia

In [28]:
cars.iloc[2:5,[0,1]]

     cars_per_cap country
JAP           588   Japan
IN             18   India
RU            200  Russia

In [29]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [32]:
cars.loc[["AUS","EG"]]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [35]:
cars.loc[["AUS","EG"],["country","drives_right"]]

       country  drives_right
AUS  Australia         False
EG       Egypt          True